.middle-cont
    display: flex
    flex-direction: column
    align-items: center
    width: 30vw
    height: 90vh
    .title
        width: 100%
        display: flex
        justify-content: center
        align-items: flex-end
        margin-top: 10%
        > img
            height: 80%
            object-fit: fill
    .sort-button
        width: 50%
        height: 10%
        border-radius: 30px
        background: #6695FF
        display: grid
        place-items: center
        cursor: pointer
        margin-bottom: 30px
        > img
            width: 3vw
    .result
        display: grid
        place-items: center
        background: #6695FF
        width: fit-content
        padding: 1% 15%
        height: fit-content
        border-radius: 10px
        h1
            font-size: 5vw
            transition: all 1s ease-in-out
        .done
            color: white
